.single-product img {
    margin-bottom: 20px;
    width: 300px;
    height:200px
   
  }
  
  .row{
    row-gap: 20px;
  }
  .product-details h6 {
    font-size: 16px;
    text-transform: uppercase;
  }

  .price h6 {
    font-size: 14px;
    display: inline-block;
    padding-right: 15px;
    margin: 0;
  }
  
  .l-through {
    text-decoration: line-through;
    color: white;
    margin-bottom: 0;
  }
  
  .prd-bottom {
    position: relative;
    margin-top: 20px;
  }
  
  .social-info {
    position: relative;
    display: inline-block;
    width: 35px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: hidden;
  }
  
  .social-info i {
    position: relative;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;

    border-radius: 50%;
    border: 1px solid #CAB06C;
    display: inline-block;
    color: white;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
  }
  .social-info i {

    color: #CAB06C;  } 
    .social-info i:hover {

      color: white;
    background-color: #CAB06C;  } 
      
  .social-info i:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  .hover-text {
    position: absolute;
    left: 0;
    top: 3px;
    width: 100px;
    left: -40px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: black;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
  }
  
   .social-info:hover {
    width: 115px;
  }
  
   .social-info:hover i:after {
    opacity: 1;
    visibility: visible;
  }
  
   .social-info:hover .hover-text {
    opacity: 1;
    visibility: visible;
    left: 40px;
  }
  
.organic-breadcrumb {
  background: url(../images/Untitled.jpg) center no-repeat;
  background-size: cover;
  width:1500px;
  margin-left:180px;
  padding-top: 130px; }


#category .organic-breadcrumb {
  margin-bottom: 100px; }

.breadcrumb-banner {
  padding: 90px 0 100px 0; }
  .breadcrumb-banner h1 {
    font-weight: 600;
    color: #fff; }

  .breadcrumb-banner p {
    margin-bottom: 0;
    color: #fff; }
  .breadcrumb-banner nav a {
    display: inline-block;
    color: #fff;
    font-weight: 400; }
    .breadcrumb-banner nav a span {
      display: inline-block;
      margin: 0 10px; }
  .breadcrumb-banner .col-first {
    padding-right: 15px; }
    .col-first h1{
      margin-right: 250px;
      font-size: 40px;
      
    }

  .center-content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .center-content h1 {
      font-size: 48px;
      color: #CAB06C; 
      text-align: center;
      margin-top: 300px;
      margin-left:400px;
      /* margin-bottom: 100px; */
  }
  @media only screen and (min-width: 481px) and (max-width: 768px){
    .organic-breadcrumb {
      width:400px;
      margin-left:350px;
      padding-top: 130px; }
      .col-first h1{
        margin-right: 20px;
        font-size: 30px;
        margin-bottom:200px;
        
      }
      .breadcrumb-banner nav a {
        margin-top: -300px;
        margin-right: 10px; }
  }
  @media only screen and (max-width: 480px) {
    .organic-breadcrumb {
      width:200px;
      margin-left:170px;
      padding-top: 130px; }
      .col-first h1{
        margin-right: 20px;
        font-size: 20px;
        margin-bottom:200px;
        
      }
      .breadcrumb-banner nav a {
        margin-top: -300px;
        margin-right: 10px; }
     
}